.hero{
    width: 100%;
    background : rgba(10, 10, 79, 0.5);
    height: 60vh;
    position: relative;
    overflow: hidden;
}

.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.hero::before{
    content: "";
    background: linear-gradient(rgba(98, 40, 40, 0.4),rgba(200, 32, 32, 0.632));
    background-size: cover;
    background-position: center;
    height :100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
}

.hero h1{
    font-size: 2.4rem;
}
.hero p{
    font-size: 1.4rem;
    text-align: center;
}

/* allow word spans to wrap on small screens */
.hero p .word {
    display: inline-block;
    white-space: normal; /* allow wrapping */
}
@media screen and (max-width:430px){
    .hero {
        height: 70vh;
    }

}

@media screen and (max-width:1024px){
    .hero{
        height: 50vh;
    }
    .hero::before{
        background-attachment: scroll;
    }
}
@media screen and (max-width:640px){
    .hero h1{
        font-size: 1.8rem;
    }
    .hero p{
        font-size: 1rem;
    }
    .hero{
        height: 80vh;
    }
    .hero::before{
        background-size: cover;
        background-position: center;
    }
}
@media screen and (max-width:768px-1024px){
    .hero h1{
        font-size: 2rem;
    }
    .hero p{
        font-size: 1.2rem;
    }
    
}